.masthead {
  width: 100%
}

.padded-top-wrapper {
  padding-top: 60px;
}

.how-it-works {
  position: relative;
}

.all-plants {
  margin-top: 15px;
}

.home-h5 {
  margin-top: 20px;
  height: 32px;
  padding: 10px;
}
