.masthead {
  width: 100%
}

.how-it-works {
  position: relative;
}

.all-plants {
  margin-top: 15px;
}

.home-h5 {
  margin-top: 20px;
  height: 32px;
  padding: 10px;
}

.search{
  box-shadow: 0 1px 4px rgba(0,0,0,.08);
}
