// Import page-specific CSS files here.
@import "home";
@import "pages/bookings-index";

h1 {
  margin-left: 50px;
}

.content {
  justify-content: space-around;
}

.cards {
  z-index: -1;
}

.map-container {
  border-left: 1px solid;
  border-color: rgba(52, 58, 64, 0.3);
  height: 682px;
  position: sticky;
  top: 107px;
}

#map {
  border-radius: 5px;
  box-shadow: 4px 8px 8px #888888;

}

.header-index {
  position: sticky;
  top: 60px;
  border-bottom: 1px solid;
  border-color: rgba(52, 58, 64, 0.3);
  background-color: #F4F4F4;
}



@import "show"

