// Import page-specific CSS files here.
@import "home";
@import "pages/bookings-index";

h1 {
  margin-left: 50px;
}
.content {
  display: flex;
  margin-right: 50px;
  justify-content: space-around;
}

#map {
  border-radius: 5px;
  margin-bottom: 100px;
  box-shadow: 4px 8px 8px #888888;
  position: sticky;
  top: 0;
}

@import "show"

