.plant-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 3px solid white;
}

.right-side-show {
  flex-grow: 1;
}

.show-avatar {
  align-self: center !important;
  margin-right: 20px !important;
  // position: absolute !important;
  // left: 16px !important;
  // bottom: 90px !important;
}

.left-side-show {
  margin: 0 20px;
  padding: 0 20px;
}
.user-info-show {
  display: flex;
  margin-top: 20px;
  padding: 10px;
}
.user-contact-show {
  line-height: 5px;
  align-self: center;
}

.additional-booking-details {
  border-bottom: 3px solid white;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.plant-basic-info {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid white;
}

.buttons-proceed {
  display: flex;
  justify-content: space-between;
}

.reviews-container {
  padding-left: 20px;
  margin-bottom: 20px;
}

.reviews-header {
  display: flex;
  align-items: center;
}

.reviews-header h3 {
  margin: 10px 0;
}

.reviews-btn {
  margin-left: 10px;
}

.review {
  width: 100%;
  border-bottom: 3px white solid;
}
