<h1>Your Bookings</h1>


<div class="bookings-title">
  <h2>Upcoming bookings</h2>
</div>

<%= render './shared/bookings-index-card' %>


<div class="bookings-title">
  <h2>Previous bookings</h2>
</div>




