<br>
<h1>Available Plants</h1>
<div class="content">
  <div class="container-fluid">
      <%= render './shared/card' %>
  </div>
    <div class="map-container">
      <div
        id="map"
        style="width: 500px;
        height: 600px;
        align-content: center;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
  </div>
</div>
