<div class="header-index">
<h1 class= "index-header">Available Plants</h1>
</div>

<div class="flex">
  <div class="cards">
    <%= render './shared/card' %>
  </div>
  <div class="map-container">
    <div
      id="map"
      style="width: 600px;
      height: 682px;
      align-content: center;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
