<div class="container">
  <h1>My Plants</h1>
  <% if policy(Plant).create? %>
    <%= link_to "New plant", new_plant_path, class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back to plants", plants_path, class: "btn btn-primary" %>
  <div class="cards">
    <%= render './shared/card' %>
    <%= render 'placeholder-card' %>
  </div>  
</div>