#steps {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.how-it-works {
  text-align: center;
  background-color: white;
  padding: 2em;
}

#steps-img-resize {
  width: 20em;
}

.step {
  width: 25%;
}
