.masthead {
  background-image: asset-url("masthead.jpg");
  background-size: cover;
  width: 100vw;
  display: flex;
  align-items: center;
  padding-top: 1em;
}

.header {
  width: 50em;
  margin-left: 5em;
}

.header h1 {
  font-weight: bolder;
}

.search {
  background-color: white;
  border-radius: 5px;
  width: 60%;
  padding: 2em;
  margin: 2em 0;
}
