.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-txt {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  margin-left: 10px;
  color: white;
}

#logo {
  font-size: 30px;
  color: white;
  margin-left: 10px;
}

#nav-left-side {
  display: flex;
}

#hover-pointer {
  cursor: pointer;
}

.nav-item {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 10px;
}
