
<div class="popup_content">
  <h3> Leave a Review </h3>
  <%= simple_form_for [plant, review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: Review::RATINGS %>
  <%= f.submit "Add a Review", class: "btn btn-primary" %>
  <% end %>
  <a href="/plants" class="popup_close">X</a>
</div>